.sidebar {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 8rem;
  gap: 1rem;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  margin-top:3rem
}
.container {
  width: 25rem;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 1rem;
  
}
.social{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8rem;
}
.buttons a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.buttons a:hover{
  color: #ff3d3d;
  cursor: pointer;
}
.imgLogo{
  width:6rem;
  border-radius: 100%;
}
.social img{
  height:3rem;
}

.social a:hover{
  filter: brightness(0.5);
  transition: all 0.3s ease-in-out;
}